@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
}
.repo {
	padding-bottom: 4vh;
	width: 359px;
	height: 115px;
	border: 5px solid black;
}
a {
	text-decoration: none;
	color: #0366d6;
}
#repos .repo {
	-moz-border-radius: 7px 7px 7px 7px;
	border: 1px solid;
	border-color: #d1d5da !important;
	float: left;
	margin: 10px;
	min-height: 100px;
	padding: 5px;
}
div.repo {
	word-wrap: break-word;
	text-align: left;
}
.octicon-repo {
	padding-top: 5px;
}
.repo {
	font-weight: 600 !important;
	border-radius: 3px !important;
}
* {
	box-sizing: border-box;
}
.desc {
	font-size: 12px !IMPORTANT;
}
.repo-language-color {
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	position: relative;
	top: 1px;
	width: 12px;
	font-size: 12px;
}
.lang {
	position: relative;
	bottom: 5%;
}
.repo {
	position: relative;
}
.repo .lang {
	position: absolute;
	bottom: 12px;
}
.repo div {
	padding-left: 12px;
}
.repo .repo-name {
	padding-top: 12px;
}
